@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin_dashboard_container{
  position: absolute;
  /* background-color: chartreuse; */
  margin-top: 75px;
  width: 100%;
  /* height: calc(100% - 75px); */
  /* display: flex;
  justify-content: center; */
}

.admin_dashboard_container2{
  /* background-color: blue; */
  padding: 25px;
  position: absolute;
  width: 100%;
  /* background-color: #ffffff; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;


}

/* .admin_dashboard_container2 img{
  width: 60px;
  height: 60px;
  background-color: aquamarine;
} */

.dashboard-box img{
  width: 60px;
  height: 60px;
  position: relative;
  /* background-color: blue; */
}

.dashboard-box {
  flex: 1 1 20%;
  max-width: 20%;
  min-height: 140px;
  padding: 12px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #4e3f8a;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.dashboard-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.admin_dashboard_container2 h3{
  position: relative;
  left: 0;
  /* background-color: crimson; */
  white-space: nowrap;
  /* width: 20%; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.admin_dashboard_container2 button img{
  /* background-color: aqua;
  display: flex;
  justify-content: center; */
}

.box-content{
  /* background-color: cadetblue; */
  position: relative;
}