@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header_container1{
    background: linear-gradient(to right, #42326E, #E0D4FC);
    position: absolute;
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.header_container2{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header_container3{
    position: absolute;
    position: fixed;
    height: 70px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 6;
}

.logo {
    position: relative;
    height: 70px;
    width: 150px; 
    display: flex;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 0 10px;
}

#signup_btn, #login_btn {
    background-color: #42326E;
    height: 35px;
    width: 100px;
    margin: 0 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#signup_btn:hover, #login_btn:hover, #menu_btn:hover {
    background-color: #B29CE4;
}

#menu_btn{
    display: none;
}

@media(max-width: 600px){
    .header_container1{
        z-index: 10;
    }
       
    .header_container2{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 5;
    }

    .header_container3{
        background-color: rgb(240, 240, 240);
        top: 0px;
        right: 0;
        width: 100%;
        transition: 0.5s ease-in-out;
        z-index: 3;
    }

    #signup_btn, #login_btn{

    }

    #menu_btn{
        position: absolute;
        display: flex;
        right: 20px;
    }
}