@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container2 {
    height: calc(100vh - 100px); 
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
}

.container2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container2 img.active {
    opacity: 1;
}

/* About us */
.custom-card-header {
    text-align: center;
    margin-top: 80px;
}

.custom-card-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #42326E;
}

.custom-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.custom-card-text {
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
    text-align: left;
}

.custom-card-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.custom-card-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #42326E;
    margin-bottom: 10px;
}

.card-description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.custom-card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.custom-card-text2 {
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
}

.custom-card-image2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.custom-card-image2 img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.card-title2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #42326E;
    margin-bottom: 10px;
}

.card-description2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .custom-card {
        flex-direction: column;
        text-align: center;
    }
    
    .custom-card-image {
        margin-top: 20px;
    }
    .custom-card2 {
        flex-direction: column;
        text-align: center;
    }
    
    .custom-card-image2 {
        margin-top: 20px;
    }

}

.room-slider-header {
    text-align: center;
    margin-bottom: 10px;
    }
    
.room-slider-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #42326E;
    }

.sliders-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1500px; /* Set a maximum width for the container */
}

.slider-box {
    width: 24%; /* Set the width of each slider box */
    text-align: center;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 5px; /* Add some spacing between each slider */
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    height: 300px; /* Make each slide a square */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: none; /* Hide all slides initially */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    user-select: none;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.slider-box h3 {
    font-size: 20px; /* Slightly larger title */
    color: #333;
    margin-bottom: 5px;
}

.slider-box p {
    font-size: 15px; /* Slightly larger description */
    color: #666;
}

@media (max-width: 1024px) {
    .slider-box {
        width: 48%; /* Adjust for smaller screens */
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .slider-box {
        width: 100%; /* Stack on very small screens */
        margin-bottom: 20px;
    }
}

.container3 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.map-text {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #42326E;
    text-align: center;
}

.container4 {
    background: linear-gradient(to right, #42326E, #E0D4FC);
    padding: 5px 15px; 
    color: white;
    font-family: 'Monserat', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 5px; 
}

.footer-content h1 {
    font-size: 20px; 
    margin-right: 15px; 
}

.footer-content .address,
.footer-content .contact {
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.footer-content .icon {
    width: 19px; 
    height: 19px;
    margin-right: 5px; 
}

.footer-links {
    display: flex; 
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px; 
    font-size: 14px; 
}

.footer-links a:hover {
    text-decoration: underline;
}

/*.social-media {
    display: flex; 
    margin-bottom: 10px; 
}

.social-media a {
    margin-right: 10px; 
}*/

.footer-bottom {
    text-align: center;
    font-size: 12px; 
    width: 100%; 
}

.text-overlay {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.text-overlay h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.text-overlay h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

.text-overlay p {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 600px) {
    .container2 {
        /* top: 140px; */
    }
}

/* Instagram link */
.floating-ig-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #f7f6fa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);   
}

.floating-ig-btn img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.floating-ig-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}