@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding-top: 0;
  }

  .logged_in_header_container1 {
    background: linear-gradient(to right, #42326E, #E0D4FC);
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    z-index: 5;
    /* align-items: center; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.logged_in_header_container2{
    /* padding: 0 10px; */
    margin: 0 10px;
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: #2dcf00; */
    display: flex;
}

#logo {
    height: 70px;
    width: 150px;
    /*background-color: rgb(203, 226, 0); */
    height: 100%;
    padding: 0 10px;
}

.header_buttons{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;

    /* padding: 0 20px; */
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 0; */
    /* background-color: aqua; */
}

.header_button{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    width: auto;
    padding: 10px 20px;
    margin: 0 15px;
    border-radius: 9px;
    transition: background-color 0.3s ease;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header_button:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 40px;
    left: 0;
    padding: 5px;
    background-color: #333;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.side_nav_icon{
    position: relative;
    height: 100%;
    /* width: auto; */
    padding: 0 10px;
    /* margin: 0 10px; */
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ff0800; */
}

#profile_icon {
    /* position: absolute; */
    height: 50px;
    /* height: 70px; */
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
    /* background-color: darkgoldenrod; */
}

#profile_icon:hover{
    background-color: #8b6dddd9;
    /* background-color: rgb(255, 255, 255); */
}


/* side navigation bar */
.side_nav {
    position: fixed;
    width: 260px;
    height: calc(100% - 75px);
    top: 75px;
    /* background-color: #f5f5f5; */
    background-color: rgb(250, 250, 250);
    box-shadow: -2px 0px 2px 0px rgba(0,0,0,0.75);
    right: -270px;
    /* right: 0; */
    padding: 10px;

    /* Start off-screen to the right */
    overflow-y: auto;
    transition: 0.5s ease;
    z-index: 4;
}

.user_info {
    position: relative;
    background-color: #e9e9e9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    /* margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e9e9e9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    position: relative;
    height: auto;
    font-size: 15px; */
}

.user_icon{
    /* position: relative; */
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
    left: 180px;
    background-color: chartreuse;
}

.side_nav_con1{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    /* background-color: cadetblue; */
}

.side_nav_con2{
    position: relative;
    margin-top: 20px;
    /* padding: 10px 0 10px 0; */
    /* background-color: darkorange; */
}

.nav_icon {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

ul li{
    position: relative;
    list-style-type: none;
}

.page_link_btn{
    text-decoration: none;
}

.nav_btn {
    display: flex;
    align-items: center;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    margin-inline: auto;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    background-color: rgb(250, 250, 250);
    border: none;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.nav_btn:hover {
    background-color: #d0d0d0;
}



@media (max-width: 988px) {
    .logged_in_header_container1 {
        /* flex-direction: column;
        align-items: flex-start;
        padding: 10px; */
    }

    .side_nav_icon{
        position: absolute;
    }

    .header_buttons {
       display: none;
    }

    .profile_icon {
        /* margin-right: 20px; */
    }
}

@media (max-width: 900px) {
    .logged_in_header_container1 {
        /* flex-direction: column;
        align-items: flex-start;
        padding: 10px; */
    }

    .side_nav_icon{
        position: absolute;
    }

    /* .header_buttons {
       display: none;
    } */

    .profile_icon {
        /* margin-right: 20px; */
    }
}