@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
    background-color: #f8f9fa; 
    font-family: 'Montserrat', sans-serif;
}


.container2 {
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    /* margin: 0 auto; Center the container */
}


h1 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #42326E; 
    font-weight: bold; 
}

h2 {
    color: #343a40;
    font-weight: bold;
}


.input-group {
    margin-bottom: 15px;
}


.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057; 
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ced4da; 
    box-shadow: none;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0069d9; 
    color: #ffffff; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

button:active {
    background-color: #004085;
    transform: scale(0.98);
}


.signup_link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0069d9; 
    text-decoration: none;
}

.signup_link:hover {
    text-decoration: underline; 
}


.input-group i {
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
    cursor: pointer;
    color: #6c757d; 
}

.input-group i:hover {
    color: #343a40; 
}

.input-group input:hover {
    border-color: #007bff; /* Same blue as the focus color */
    background-color: #f8f9fa; /* Slightly lighter background */
}

.input-group input:focus { 
    border-color: #007bff; /* Bootstrap blue */
    outline: none; /* Removes the default browser outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a subtle glow effect */
}


span {
    font-size: 12px;
    color: red; 
    display: block;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .container3 {
        width: 90%;
    }

    h1 {
        font-size: 25px;
    }

    button {
        font-size: 14px;
    }
}

/* Instagram link
.floating-ig-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #f7f6fa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);   
}

.floating-ig-btn img {
    width: 60px;
    height: 60px;
    object-fit: contain;
} */

