@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.reservation_container1{
  position: absolute;
  width: 100%;
  padding-top: 70px;
}

.reservation_container2{
    height: 225px;
    margin: 20px 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: brown;
}

.reservation_container3{
    background-color: aqua;
}

.reservation_container4{
    background-color: rgb(18, 149, 69);
}

ul li{
    list-style: none;
}

@media(max-width: 600px) {
    .reservation_container2 {
        height: 300px;
    }
}
