@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reservation_container1{
  position: absolute;
  /* background-color: chartreuse; */
  margin-top: 75px;
  width: 100%;
  /* height: calc(100% - 75px); */
  /* display: flex;
  justify-content: center; */
  /* background-color: #ffffff; */
}

.reservation_container2 {
  position: relative;
  /* height: 100%; */
  margin: 25px;
  /* max-width: 1300px; */
  /* width: 80%; */
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.reservation_container3 {
  background-color: #fafafa;
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow-y: auto;;
  display: flex;
}

.reservation_container4{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: chartreuse;
  padding: 10px;
}

.input-group label {
  color: #333;
  margin: 10px 0;
  display: block;

}

.input-group select {
  width: 200px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  appearance: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

.input-group select:hover,
.input-group select:focus {
  border-color: #007bff;
}
