@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.reservation_management_container1{
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-top: 70px;
}

.confirm_div{
background-color: rgba(122, 122, 122, 0.441);
position: absolute;
height: 100%;
width: 100%;
top: 0;
z-index: 9;
}

.confirm_div1{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgb(255, 255, 255);
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
 height: 225px;
 width: 450px;
 border-radius: 5px;
 display: flex;
 align-items: center;
justify-content: center;
}