@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reservation_container1{
  position: absolute;
  margin-top: 75px;
  /* background-color: chartreuse; */
  /* top: 50px; */
  width: 100%;
  padding: 25px 25px 0 25px;
  /* height: calc(100% - 75px); */
  /* display: flex;
  justify-content: center; */
  /* background-color: #ffffff; */
}

.reservation_container2{
  background-color: #f4f4f4;
  border: 1px solid #bababa;
  border-radius: 10px;
  position: relative;
  width: 100%;
  min-height: 300px;
  /* margin-top: 25px; */
  margin-bottom: 25px ;
  display: flex;
  /* margin: 25px 25px; */
}

.rooms_img_container{
  position: relative;
  width: 25%;
  height: auto;
  /* background-color: rgb(129, 170, 89); */
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rooms_description{
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  /* background-color: cadetblue; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 500; */
}

.rooms_description h2{
  font-size: 24px;
  padding: 20px;
  /* text-align: center; */
  /* background-color: burlywood; */
}

.rooms_description p{
  font-size: 14px;
  padding: 1px 20px;
  font-weight: 500;
  /* background-color: darkgrey; */
}

hr {
  border: 1px solid #777777; /* Adjust border style and color */
  /* margin: 10px 0; */
}

.room_reservation{
  width: 30%;
  border-radius: 10px;
  padding: 10px 20px;
  /* background-color: indianred; */
}

/* image slider */
.slider-box{

  /* width: 200px; */
  /* width: 100%; */
  /* height: 200px; */
  /* width: 150px; */
  /* background-color: rgb(255, 0, 0); */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider{
  position: relative;
  margin: auto;
  background-color: aqua;
  width: 100%;
  /* height: 90%; */
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-box img{
  position: relative;
  /* height: 90%; */
  /* width: 100%; */
  width: 228px;
  display: none;
}

img.display_slide{
  display: block;
}

@media screen and (max-width: 768px) {
  .reservation_container1 {
      margin: 10px;
      padding: 10px;
  }

  .reservation_container2 {
      flex-direction: column;
      margin: 15px 0;
  }

  .rooms_img_container {
      margin: 0 0 15px;
  }

  .rooms_description {
      font-size: 0.9rem;
      margin-bottom: 15px;
  }

  .input-group {
      flex-direction: column;
      align-items: flex-start;
  }

  button {
      font-size: 0.9rem;
  }
}

/* Responsive design for devices 480px and below */
@media screen and (max-width: 480px) {
  .reservation_container1 {
      margin: 5px;
      padding: 5px;
  }

  .reservation_container2 {
      padding: 10px;
      border-radius: 5px;
  }

  .rooms_img_container {
      margin: 0 auto;
      width: 100%;
  }

  .rooms_description {
      font-size: 0.8rem;
  }

  .input-group label {
      font-size: 0.8rem;
  }

  button {
      font-size: 0.8rem;
      padding: 8px;
  }
}

/* Adjust slider-box for smaller screens */
@media screen and (max-width: 768px) {
  .slider-box {
      width: 100%;
  }

  .slides img {
      width: 100%;
      height: auto;
  }
}

@media screen and (max-width: 480px) {
  .slider-box {
      margin: 0 auto;
  }

  .slides img {
      width: 100%;
  }
}