@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reservation_container1{
  position: absolute;
  margin-top: 100px;
  /* background-color: chartreuse; */
  /* top: 50px; */
  width: 100%;
  /* padding: 25px; */
  /* height: calc(100% - 75px); */
  /* display: flex;
  justify-content: center; */
  /* background-color: #ffffff; */
}

.reservation_container2{
  background-color: #f4f4f4;
  border: 1px solid #bababa;
  border-radius: 10px;
  position: relative;
  width: 100%;
  min-height: 300px;
  /* margin-top: 25px; */
  padding: 0;
  display: flex;
  /* margin: 25px; */
}

.rooms_img_container{
  position: relative;
  width: 25%;
  height: auto;
  /* background-color: rgb(129, 170, 89); */
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rooms_description{
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  /* background-color: cadetblue; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 500; */
}

.rooms_description h2{
  font-size: 24px;
  padding: 20px;
  /* text-align: center; */
  /* background-color: burlywood; */
}

.rooms_description p{
  font-size: 14px;
  padding: 1px 20px;
  font-weight: 500;
  /* background-color: darkgrey; */
}

hr {
  border: 1px solid #777777; /* Adjust border style and color */
  /* margin: 10px 0; */
}

.room_reservation{
  width: 30%;
  border-radius: 10px;
  padding: 10px 20px;
  /* background-color: indianred; */
}

/* image slider */
.slider-box{
  /* position: relative; */
  /* width: 200px; */
  /* width: 100%; */
  /* height: 200px; */
  /* width: 150px; */
  /* background-color: rgb(255, 0, 0); */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider{
  /* background-color: aqua; */
  width: 100%;
  /* height: 90%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-box img{
  position: relative;
  /* height: 90%; */
  /* width: 100%; */
  width: 228px;
  display: none;
}

img.display_slide{
  display: block;
}



@media (max-width: 900px) {
  .reservation_container2{
    flex-direction: column;
  }

  .rooms_img_container{
    width: 100%;
    height: 500px;
  }

  .rooms_description{
    width: 100%;
  }

  .room_reservation{
    height: 250px;
    width: 100%;
  }

  .slider-box img{
    width: 450px;
  }
}

@media (max-width: 800px) {
  .reservation_container2{
    flex-direction: column;
  }

  .rooms_img_container{
    width: 100%;
    height: 300px;
  }

  .rooms_description{
    width: 100%;

  }
}