@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f9fa;
  padding: 40px 20px; 
}

.tenant_management_container1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
<<<<<<< HEAD
  height: 70px;
=======
  height: 80px;
>>>>>>> 8322a24923bff4a35ffa0ed0590f2dbc27dc0eb5
  z-index: 10;
  background-color: white;
}

.container {
  max-width: 1000px; 
  margin: 0 auto;
  margin-top: 80px;
<<<<<<< HEAD
  background-color: #ffffff;
  padding: 20px;
=======
  background-color: #fff;
  padding: 40px; 
>>>>>>> 8322a24923bff4a35ffa0ed0590f2dbc27dc0eb5
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 32px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; 
}

.form-group {
  display: flex;
  flex-direction: column; 
  flex: 1;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

<<<<<<< HEAD
.form-group input, select {
  flex: 2;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #000000;
=======
.form-group input, .form-group select {
  padding: 10px;
  font-size: 16px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
>>>>>>> 8322a24923bff4a35ffa0ed0590f2dbc27dc0eb5
}

.form-group select {
  height: 40px;
}

.submit-btn {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #4D90FE;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #357ae8; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #fafafa;
}

.delete_btn, .cancel_btn {
  padding: 8px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete_btn:hover, .cancel_btn:hover {
  background-color: #c82333;
}

<<<<<<< HEAD

=======
.delete_form {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.div button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #28a745;
  cursor: pointer;
}

.div button:hover {
  opacity: 0.8;
  background-color: #218838;
}

.cancel_btn {
  background-color: #dc3545;
}

.cancel_btn:hover {
  opacity: 0.8;
  background-color: #c82333;
}


/* Modal styles 
.delete_modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.delete_modal_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.delete_modal_content h3 {
  margin-bottom: 20px;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
}

.modal_buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #4D90FE;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal_buttons button.cancel_btn {
  background-color: #f44336; /* Red color for Cancel 
}

.modal_buttons button:hover {
  opacity: 0.8;
}
*/
>>>>>>> 8322a24923bff4a35ffa0ed0590f2dbc27dc0eb5
