@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_homepage_container1 {
  position: absolute;
  /* background-color: chartreuse; */
  margin-top: 75px;
  width: 100%;
  height: calc(100% - 75px);
  /* display: flex;
  justify-content: center; */
}

.custom-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  margin-top: 15px;
  background-color: #fff;
  /*border-radius: 15px;*/
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.custom-card-text {
  flex: 1;
  margin-left: 30px;
  margin-right: 20px;
  text-align: left;
}

.custom-card-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.custom-card-image img {
  max-width: 50%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.card-title {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #42326E;
  margin-bottom: 10px;
}

.card-description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.custom-card-header {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #42326E;
  margin-bottom: 10px;
}

/* Image container */
.container2 {
  margin: 25px 0 0 0;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
  /* background-color: chartreuse; */
}

.container2 img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.container2 img:hover {
  width: 30%;
}

/* Info section */
.info-container {
  font-family: 'Poppins', sans-serif;
  /* font-size: 18px; */
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-left {
  flex: 1;
  padding-right: 20px;
}

.info-right {
  flex: 1;
  padding-left: 20px;
}

.amenity-icon {
  margin-right: 10px;
  font-size: 20px;
}

.info-right .inquire-button {
  display: block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4da6ff;
  color: white;
  text-decoration: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.reserve-button:hover {
  background-color: #0056b3;
  /* background-color: chartreuse; */
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.message-button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4da6ff;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.message_btn{
  text-decoration: none;
  color: white;
}

.message-button:hover{
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  cursor: pointer;
  align-items: center;
  z-index: 999;
}

.popup-image {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

h2 {
  font-weight: bold;
  color: #333;
  padding: 20px 0;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.description-text, .details-text, .amenities-text {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 18px;
  font-weight: normal;
  color: #555;
  line-height: 1.6;
}

.description-text {
  margin-top: 20px;
}

.details-text {
  margin-top: 20px;
}

.amenities-text {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 15px;
  margin-top: 20px;
  line-height: 2;
  cursor: pointer;
  color: #3399ff;
}

.amenities-text img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
/*  */
.rooms-section {
  /* background-color: #0056b3; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  margin: 50px 0;
  max-width: 100%;

}

.room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 94%;
}

.room-images {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: chartreuse; */
}

.large-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.large-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ddd;
  transition: border 0.3s;
}

.thumbnail-images img:hover {
  border-color: #007bff;
}

.room-info {
  position: relative;
  flex: 1;
  padding-left: 20px;
<<<<<<< HEAD
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
=======
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
>>>>>>> 08aa88696f7510739278db19c899069ffdc27a13
  font-weight: 600;
  color: #333;
  /* background-color: chartreuse; */
}

.room-info p{
  padding: 3px 0;
}



@media (max-width: 1200px) {
  .container2 {
    margin: 25px auto;
    width: 100%;
    height: 450px;
  }

  .container2 img:hover {
    width: 30%;
  }

  .info-container {
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
  }

  .room {
    /* flex-direction: column; */
    /* gap: 15px; */
  }
}

@media (max-width: 992px) {
  .container2 {
    margin: 25px auto;
    height: 350px;
  }

  .info-left, .info-right {
    padding: 10px;
  }

  .room-info h2 {
    font-size: 22px;
  }

  .room-info p {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .room {
    /* flex-direction: column; */
    display: block;
  }

  .room-images {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .container2 {
    margin: 25px auto;
    padding: 0 10px;
    width: 100%;
    height: 300px;
  }

  .container2 img {
    width: 15%;
    height: 100%;
  }

  .info-container {
    padding: 15px;
  }

  .reserve-button {
    padding: 8px 16px;
    font-size: 16px;
  }

  .message-button{
    padding: 8px 16px;
    font-size: 16px;
  }

  .room-info h2 {
    font-size: 20px;
  }

  .room-info p {
    font-size: 14px;
  }

  .thumbnail-images img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 615px) {
  .large-image{
    position: relative;
    width: 100%;
  }
  /* .container2 {
    height: 250px;
    margin: 25px auto;
  }

  .info-container {
    flex-direction: column;
    padding: 10px;
  }

  .room {
    flex-direction: column;
    gap: 10px;
  }

  .large-image {
    padding-top: 75%;
  }

  .room-info {
    padding-left: 0;
  }

  .reserve-button {
    font-size: 14px;
    padding: 6px 12px;
  } */
}

@media (max-width: 607px) {
  .large-image{
    position: relative;
    width: 100%;
  }

  .room-images {
    position: relative;
    width: 100%;
  }

  .thumbnail-images {
    position: relative;
    width: 100%;
    gap: 0px;
  }
}

@media (max-width: 605px) {
  .large-image{
    position: relative;
    width: 100%;
  }
}


@media (max-width: 576px) {
  .container2 {
    height: 250px;
    margin: 25px auto;
  }

  .info-container {
    flex-direction: column;
    padding: 10px;
  }

  .room {
    flex-direction: column;
    gap: 10px;
  }

  .large-image {
    padding-top: 75%;
  }

  .room-info p{
    padding-left: 0;
    font-size: 14px;
  }

  .reserve-button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .message-button{
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 470px) {
  .thumbnail-images img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .thumbnail-images img {
    width: 35px;
    height: 35px;
  }
}



@media (max-width: 415px) {
  .container2 img {
    margin: 25px auto;
    width: 100%;
    height: auto;
  }

  .info-container, .rooms-section {
    max-width: auto;
    padding: 10px;
  }

  .reserve-button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .message-button{
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
  .thumbnail-images img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 349px) {
  .thumbnail-images img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 300px) {
  .thumbnail-images img {
    width: 22px;
    height: 22px;
  }
}